#muisKaas {
    width: 100px;
}

body {
    background-image: url("cat.gif");
    background-color: #f1b1c9;
}

#index {
    font-size: 20px;
}

#dood {
    width: 300px;
}

#streep {
    font-size: 50px;
    display: inline;
}